<article class="add_new_form">
    <form method="POST">
        <h1 id="add_header">Add a new vehicle Submission
            <span>Please fill all the field for your property</span>
        </h1>
        <label>
            <span>Vehicle Type</span>
            <select name="type">
                {{#each typeList}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            <span>Purpose:</span>
            <select name="purpose">
                {{#each purpose}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            <span>Zip Code:</span>
            <input type="text" required="required" name="zip" size="10">
        </label>
        <label>
            <span>Make:</span>
            <select name="make" onchange="setModel(this.options[this.selectedIndex].value);">
                <option value="">Please select make</option>
                {{#each makes}}
                    <option value="{{this.make}}">{{this.make}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            <span>Model:</span>
            <select name="model" id ="model" required="required">
                <option value="">Please select model</option>
            </select>
        </label>
        <label>
            <span>Color:</span>
            <input type="text" required="required" name="color" size="10">
        </label>
        <label>
            <span>Year:</span>
            <input type="text" required="required" name="year" size="10">
        </label>
        <label>
            <span>Mileage:</span>
            <input type="text" required="required" name="mileage" size="10">
        </label>
        <label>
            <span>Price:$</span>
            <input type="text" required="required" name="price" size="10">
        </label>
        <label>
            <span>Picture:</span>
            <input type="text" required="required" name="picture" placeholder="url1,url2" />
        </label>
        <label>
            <span>Description:</span>
            <textarea type="text" required="required" name="description" rows="30"></textarea>
        </label>
        <label>
            <button type="submit" class="button">Submit </button>
        </label>
    </form>
</article>

<script>
    function setModel(make) {
        $("#model").empty();
        {{#each makes}}
            var currentMake="{{this.make}}"
            if (currentMake==make) {
                {{#each this.model}}
                    $("#model").append("<option value='{{this}}'>{{this}}</option>");
                {{/each}}
            }
        {{/each}}
    }
</script>