
<div id="search_block">
   <p>Quick Zip Filter: <input id="searchbar" onkeyup="searchByZip()" type="text" name="search" placeholder="please enter zip"></p>
</div>
<div id="vehicle_list">
{{#each data }}
    <div class="vehicle_block" id="{{{this._id}}}">
        <div id="detail_list">
            <ul>
                <li>ID:{{this._id}}</li>
                <li>Make: {{this.make}}</li>
                <li>Model: {{this.model}}</li>
                <li>Type: {{this.type}}</li>
                <li>Purpose:{{this.purpose}}</li>
                <li>Zip Code: {{this.zip}}</li>
                <li>Year: {{this.year}}</li>
                <li>Mileage: {{this.mileage}} </li>
                <li>Color:{{this.color}}</li>
                <li>Price:${{this.price}}</li>
                <li><a href="/main/detail/{{this._id}}">More Detail</a></li>
            </ul>
        </div>
        <div id="image">
            <img src="{{{this.first_picture}}}">
        </div>
    </div>
{{else}}
    <div>
        <h1>No Result Found</h1>
    </div>
{{/each}}
    <div id="zip_filter" style="display:none">>
        <h1>No Result Found</h1>
    </div>
</div>
<script>
    function searchByZip() {
        var input =  $("#searchbar").val();
        //var input = document.getElementById('searchbar').value;
        input=input.toLowerCase();
        var zip="0";
        var match=0;
            if (input) {
                {{#each data}}
                    zip = {{this.zip}};
                    var zipStr = zip.toString();
                    if (!zipStr.includes(input)) {
                        $("#{{this._id}}").attr("style", "display:none;");
                    } else {
                        match = 1;
                        $("#{{this._id}}").attr("style", "display:true;");
                    }
                {{/each}}
            } else {
                match = 1;
                {{#each data}}
                    $("#{{this._id}}").attr("style", "display:true;");
                {{/each}}
            }
        if (match==0){
            $("#zip_filter").attr("style","display:true;");
        }else{
            $("#zip_filter").attr("style","display:none;");
        }
    }
</script>


<script>

    var socket = io();

    //Task 2 - Step 2: Listen for message from server when some client creates a new movie
    socket.on('new vehicle', function(new_vehicle) {
        var append_content = '<div class="vehicle_block" id="'+new_vehicle._id+'">'
        append_content+='<div class="detail_list">'
        append_content+='<ul>'
        append_content+='<li>ID: '+ new_vehicle._id+'</li>'
        append_content+= '<li>Make: '+new_vehicle.make+'</li>'
        append_content+='<li>Model: '+new_vehicle.model+'</li>'
        append_content+='<li>Type: '+new_vehicle.type+'</li>'
        append_content+='<li>Purpose: '+new_vehicle.purpose+'</li>'
        append_content+='<li>Zip Code: '+new_vehicle.zip+'</li>'
        append_content+='<li>Year: '+new_vehicle.year+'</li>'
        append_content+='<li>Mileage: '+new_vehicle.mileage+' </li>'
        append_content+='<li>Color: '+new_vehicle.color+'</li>'
        append_content+='<li>Price:$ '+new_vehicle.price+'</li>'
        append_content+='<li><a href="/main/detail/'+new_vehicle._id+'">More Detail</a></li>'
        append_content+='</ul></div>'
        append_content+='<div id="image">'
        append_content+='<img src="'+new_vehicle.first_picture+'">'
        append_content+=' </div> </div>'
        $('#vehicle_list').append($(append_content));
    })

</script>